/* =========================
   DISEÑO GENERAL FORMULARIOS
========================= */

.form-page {
    width: 100%;
    padding: 40px 20px;
}

.form-card {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.10);
}

